
$text-color: #1d1d1d;
$search-color:  #b0b0b0;

.food-search {
  position: relative;

  & [name="search"] {
    box-sizing: border-box;
    line-height: 24px;
    width: 100%;
    height: 47px;
    margin-top: 25px;
    margin-bottom: 56px;
    padding: 15px 20px 15px 30px;
  
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  
    color: $text-color;
    text-overflow: ellipsis;
    font: inherit;
    background: url(images/search.svg) left 0 bottom 12px no-repeat;

    transition: all 0.7s;
  }

  &:hover [name="search"] {
    padding-right: 100px;
  }

  & input[type="search"]:focus {
    outline: 1px solid rgba(176, 176, 176, 0.1);
    outline-offset: 8px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 56px;
    display: block;
    width: 0;
    height: 1px;

    background-color: #1d1d1d;
    transition: all 0.6s;
  }

  &:focus::after ,
  &:active::after,
  &:hover::after {
    width: 100%;
  }

  &:focus [name="search"],
  &:active [name="search"],
  &:hover [name="search"]{
    background-image: url(images/search_green.svg);
  }

  & [name="search"]::-webkit-search-cancel-button {
    position: relative;
    left: 10px;
  }

  &:hover .button--food-search {
    display: flex;
  }

  & [name="search"]::placeholder {
    color: $search-color;
    opacity: 1;
  }
  
  & [name="search"]:-ms-input-placeholder {
    color: $search-color;
  }
  
  & [name="search"]::-ms-input-placeholder {
    color: $search-color;
  }

  & [name="search"]:focus {
    color: $text-color;
  }

  @media (max-width: 639px) {
    & [name="search"] {
      margin-bottom: 24px;
      font-size: 13px;

      background: url(images/search.svg) 0 16px no-repeat;
      background-size: 16px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 24px;
    }
  }
}