
$footer-additional-color: #979797;
$footer-background-color: #262626;

.footer {
  color: #fff;
  background-color: $footer-background-color;

  &__wrapper {
    max-width: 964px;
    margin: 0 auto;
    padding: 0 8px;
  }
  
  &__logo {
    padding: 56px 0 40px;
    box-sizing: border-box;
    min-height: 101px;
    border-bottom: 1px solid $footer-additional-color;
  }
  
  &__logo img {
    width: 191px;
  }
  
  &__information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-template-rows: auto;
    padding: 32px 0 25px;
    border-bottom: 1px solid $footer-additional-color;
  }
  
  &__site-language {
    margin-bottom: 33px;
  }
  
  &__social,
  &__navigation {
    margin-bottom: 23px;
  }
  
  &__site-language select {
    width: 227px;
    height: 40px;
    padding-left: 48px;
    border: none;
    cursor: pointer;
    
    color: #fff;
    background-color: #3b3b3b;
    text-transform: uppercase;
    line-height: 40px;
  
    background-image: url(./images/world.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
  }

  &__site-language-link {
    padding: 20px 0 20px 30px;
  }
  
  &__tag {
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
  }
  
  &__hash-tag {
    color: #49A144;
  }
  
  &__social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__social-list li {
    display: flex;
  }
  
  &__social-link {
    margin-right: 12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &__social-link:hover {
    opacity: 0.6;
  }
  
  &__social-link--facebook {
    background-image: url(./images/facebook.svg);
  }
  
  &__social-link--twitter {
    background-image: url(./images/twitter.svg);
  }
  
  
  &__social-link--instagram {
    background-image: url(./images/instagram.svg);
  }
  
  &__navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__navigation-item:not(:last-child) {
    margin-bottom: 23px;
  }
  
  
  &__navigation-item a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
  }
  
  &__navigation-item a:hover {
    opacity: 0.6;
  }
  
  &__app-list-wrapper {
    align-items: center;
    border-bottom: 1px solid $footer-additional-color;
  }
  
  &__app-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__app-list-item:not(:last-child) {
    margin-right: 40px; 
  }

  &__app-list-item a:hover {
    opacity: 0.9;
  }
  
  &__legal-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 308px));
    grid-column-gap: 16px;
    grid-template-rows: 93px;
    align-items: center;
  
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__legal-link a {
    font-size: 11px;
    color: #fff;
    text-decoration: none;
  }
  
  &__legal-link a[href]:hover {
    opacity: 0.5;
  }
  
  &__to-top {
    display: block;
    position: fixed;
    bottom: 24px;
    right: 16px;
    width: 80px;
    height: 80px;

    background-color: #59BD5A;
    border: none;
    border-radius: 2px;
  
    background-image: url(./images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__to-top-animation:hover {
    animation-duration: 1.6s;
    animation-name: top-bottom;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  @keyframes top-bottom {
    0% {
      background-position: center;
    }
    25% {
      background-position-y: 18px;
    }
    50% {
      background-position-y: 30px;
    }
    75% {
      background-position-y: 18px;
    }
    100% {
      background-position-y: center;
    }
  }

  @media (max-width: 639px) {
    // &__information {
    //   display: grid;
    //   grid-template-columns: repeat(3, minmax(auto, 308px));
    // }

    &__site-language select {
      width: 100%;
    }

    &__to-top {
      display: block;
      position: fixed;
      bottom: 24px;
      right: 16px;
      width: 64px;
      height: 64px;
    }
  }

  @media (max-width: 479px) {
    &__information {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__legal-list {
      display: grid;
      grid-template-columns: minmax(auto, 308px);
      grid-template-rows: repeat(3, 37px);
      grid-auto-flow: row;
      align-items: center;

      padding: 28px 0;
    }

    &__app-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__app-list-item:not(:last-child) {
      margin-right: 0px; 
    }
  }
}

