
$text-color: #1d1d1d;
$border-color: #e0e0e0;
$button-background-color: #262626;

.header {
  background-color: #fff;
  min-height: 72px;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 964px;
    padding: 0 8px;
  }
  
  &__logo {
    display: flex;
    align-items: center;
    flex-grow: 3;
    margin-right: 22px;
  }

  &__logo img {
    max-width: 120px;
    min-width: 105px;
  }
  
  &__buttons-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 182px;
    margin-right: 10px;
  }
  
  &__cart {
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: stretch;
  }
  
  &__cart:hover {
    opacity: 0.5;
  }

  @media (max-width: 1023px) {
    &__address {
      flex-grow: 2;
      margin-right: 22px;
    }
  }

  @media (max-width: 767px) {
    &__logo {
      margin-right: 10px;
    }

    &__address {
      margin-right: 10px;
      font-size: 13px;
    }

    &__address-field {
      width: 100%;
      min-width: 147px;
      padding-right: 0;
      font: inherit;
    }

    .button--header-sign-in {
      margin-right: 8px;
    }
  }

  @media (max-width: 639px) {
    &__address {
      display: none;
    }
  }

  @media (max-width: 479px) {
    &__wrapper {
      padding: 0 4px 0 8px;
    }

    & {
      display: flex;
      justify-content: stretch;
      align-items: stretch;
    }
    
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 0 4px 0 8px;
    }

    &__logo img {
      max-width: 105px;
    }

    &__address {
      display: none;
    }

    &__buttons-wrapper  {
      max-width: 156px;
    }

    & .button {
      width: 72px;
      font-size: 11px;
    }
  }

  @media (max-width: 359px) {
    &__cart {
      display: none;
    }
  }
}