
$text-color: #1d1d1d;

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

// Visually Hidden
@import './scss/visually-hidden.scss';

// Main wrapper
@import './scss/main__wrapper.scss';

// Header
@import './scss/header.scss';

// Delivery
@import './scss/delivery.scss';

// Food-search
@import './scss/food-search.scss';

// Restaurants
@import './scss/restaurants.scss';

// Restaurant
@import './scss/restaurant.scss';

// Footer
@import './scss/footer.scss';

// Button
@import './scss/button.scss';

