body {
  margin: 0;
  padding: 0;
  color: #1d1d1d;
  background-color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.header {
  background-color: #fff;
  min-height: 72px;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.header-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 956px;
}

.header_logo {
  width: 150px;
}

.header_logo img {
  width: 100%;
}

.header_address {
  display: flex;
  align-items: center;
}

.header_delivery-type {
  display: block;
  box-sizing: border-box;
  width: 65px;
  height: 40px;
  padding: 8px 12px;
  margin-right: 9px;

  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.header-direction {
  color: #626262;
  margin-right: 9px;
}

.header_adress-field {
  box-sizing: border-box;
  line-height: 24px;
  width: 292px;
  height: 40px;
  padding: 8px 0 8px 36px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;

  color: #626262;
  font: inherit;
  background: url(images/location.svg) 12px center no-repeat;
}

.header_buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 232px;
}

.button {
  display: block;
  width: 80px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  color: #1d1d1d;
  background-color: #fff;
  border: 1px solid #e0e0e0;

  line-height: 24px;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.header-register {
  color: white;
  background-color: #262626;
  border: 1px solid #262626;
}

.header-cart {
  display: block;
  width: 40px;
  height: 72px;
  background: url(images/basket.svg) center no-repeat;
}

/* Main*/

.main--wrapper {
  max-width: 956px;
  margin: 0 auto;
}

[name="search"] {
  box-sizing: border-box;
  line-height: 24px;
  width: 100%;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 56px;
  padding: 8px 0 15px 30px;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);

  color: rgba(98, 98, 98, 0.5);
  font: inherit;
  background: url(images/search.svg) 0 4px no-repeat;
}

.restaurants-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.restaurants h1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: #1d1d1d;
}

.restaurant {
  width: 308px;
  padding-bottom: 20px;
  margin-bottom: 16px;
}

.restaurant img {
  width: 308px;
  height: 256px;
  margin-bottom: 16px;
}

.restaurant h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 4px;
}

.restaurant_tags {
  padding: 0 0px;
  display: flex;
  margin: 0;
  margin-bottom: 4px;
}

.restaurant-info  {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  padding-right: 12px;
}

.restaurant-info:not(:first-child)::after {
  position: absolute;
  content: '•';
  color: #626262;
  top: 2px;
  left: -8px;
}

.restaurant_time {
  font-size: 13px;
  line-height: 21px;
  margin: 0;
}

