
$accent-color: #57ad57;
$border-color: #e0e0e0;
$text-color: #1d1d1d;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $border-color;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;

  color: $text-color;
  background-color: #fff;
  line-height: 24px;
  font: inherit;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  &--food-search {
    display: none;
    position: absolute;
    bottom: 64px;
    right: 0;

    height: 34px;
  }

  &--header-register {
    color: #fff;
    background-color: $button-background-color;
    border: 1px solid $button-background-color;
  }

  @media (max-width: 639px) {
    &--food-search {
      position: absolute;
      bottom: 30px;
    }
  }

  &:hover {
    color: #fff;
    border: 1px solid $accent-color;
    background-color: $accent-color;
  }
}


