$border-color: #e0e0e0;
$text-color: #1d1d1d;

.delivery {  
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-right: 92px;

  &--main {
    display: none;
  }

  &__time-label {
    display: none;
  }

  &__time-dropdown {
    position: relative;
  }
  
  &__time-dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 65px;
    height: 40px;
    padding: 3px;
    margin-right: 9px;

    font: inherit;
    font-size: 14px;
    background-color: #fff;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid $border-color;
    border-radius: 2px;
    cursor: pointer;
  }

  &__time-select {
    display: none;
  }

  &__time-dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 120px;
    z-index: 1;

    font-size: 14px;
    cursor: pointer;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  &__time-dropdown:hover &__time-dropdown-content {
    display: block;
  }

  &__time-dropdown-content a {
    text-decoration: none;
    color: $text-color;
  }

  &__time-dropdown-content p {
    margin: 0;
    padding: 12px;
  }

  &__time-dropdown-content p:hover {
    background-color: #f8f8f8;
  }
  
  &__address-label {
    color: #626262;
    margin-right: 9px;
  }
  
  &__address {
    box-sizing: border-box;
    line-height: 24px;
    width: 292px;
    height: 40px;
    padding: 8px 20px 8px 36px;
    border: 1px solid $border-color;
    border-radius: 2px;

    font: inherit;
    background: url(images/location.svg) 12px center no-repeat;
  }

  &__address::placeholder {
    color: $text-color;
  }

  &__address:-ms-input-placeholder {
    color: $text-color;
  }

  &__address::-ms-input-placeholder {
    color: $text-color;
  }

  @media (max-width: 1023px) {
    & {
      flex-grow: 2;
      margin-right: 22px;
    }
  }

  @media (max-width: 767px) {
    &__time-dropdown {
      display: none;
    }

    &__time-select {
      display: block;
    }

    & {
      margin-right: 20px;
      font-size: 13px;
    }

    &__address{
      width: 100%;
      min-width: 147px;
      padding-right: 0;
      font: inherit;
    }
  }

  @media (max-width: 639px) {
    & {
      display: none;
    }

    &--main {
      display: grid;
      grid-template-columns: minmax(65px, 1fr) 2fr;
      grid-gap: 8px 10px;

      padding-bottom: 40px;
      margin-right: 0;
    }

    &--main label {
      font-size: 11px;
    }

    &--main &__time-label {
      display: block;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--main &__time-dropdown {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &--main &__time-dropdown-button {
      width: 100%;
      justify-content: flex-start;
      padding-left: 12px;
    }

    &--main &__time-dropdown-content {
      width: 100%;
    }

    &--main &__address-label {
      display: block;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &--main &__address {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}
